<form [formGroup]="addHotelForm" (ngSubmit)="onAddHotelSubmit()" #f="ngForm">
    <h1 mat-dialog-title style="text-align:center;">New Hotel</h1>
    <mat-dialog-content>
        <p>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Hotel Name</mat-label>
                <input matInput formControlName="name" placeholder="Enter Hotel Name" required />
                <mat-error>please enter Name</mat-error>
            </mat-form-field>
        </p>
        <input class="ng-hide" id="input-file-id" (change)="fileUpload($event)" type="file" accept="image/*" required formControlName="file" />
        <div formGroupName="address">
            <br />
            <label>Address</label>
            <p>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Number</mat-label>
                    <input matInput formControlName="no" required />
                    <mat-error>please enter address number</mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Street</mat-label>
                    <input matInput formControlName="street" required />
                    <mat-error>please enter street</mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>City</mat-label>
                    <input matInput formControlName="city" required />
                    <mat-error>please enter city</mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Country</mat-label>
                    <input matInput formControlName="country" required />
                    <mat-error>please enter country</mat-error>
                </mat-form-field>
            </p>
        </div>
        <br>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <button mat-raised-button type="submit" [disabled]="!f.valid">OK</button>
    </mat-dialog-actions>
</form>